.max-height {
  min-height: 100vh;
}

body {
  background: #27496d;
}

.messenger-container {
  background: #77d8d8;
  border-radius: 8px;
}

span {
  font-size: 0.8rem;
}

.delivered strong {
  color: #06623b;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
}

input {
  border-radius: 12px;
  outline: none;
}

.delivered span.error {
  color: #c02323;
}

.delivered span.success {
  color: #079258;
}
