.max-height {
  min-height: 80vh;
}

body {
  background: #27496d;
}

.messenger-container {
  background: #77d8d8;
  border-radius: 8px;
}

#outputmsg {
  color: #06623b!important;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
}

input {
  border-radius: 12px;
  outline: none;
}

.error, .success {
  font-size: 0.8rem;
  font-weight: 500;
}

.error {
  color: #c02323;
}

.success {
  color: #079258;
}
